body {
  background-color: rgb(35, 41, 43);
  color: white;
  font-family: "Helvetica";
}

html {
  margin: 0;
}

#menu {
  padding: 5px;
  margin-bottom: 25px;
}

#app {
  display: flex;
}

#map {
  flex: 2;
  height: calc(100vh - 9rem);
  overflow: hidden; 
}
