body {
  background-color: rgb(65, 83, 85);
  color: white;
  font-family: "Helvetica";
}

html {
  margin: 0;
}

#app {
  display: flex;
}

#map {
  flex: 2;
  height: calc(100vh - 9rem);
  overflow: hidden; 
}
